/* Home.module.css */

.container {
  width: 100%;
  min-height: 1300px;
  color: #FFFFFF;
}

.main {
  text-align: center;
}

.main h1 {
  color: #00295B;
  font-family: 'Aeonik TRIAL', sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 95%;
  letter-spacing: -2%;
  text-transform: uppercase;
  margin-top: 133px;
  margin-right: 500px;
}

.main p {
  color: #00295B;
  font-family: 'Nyght Serif', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 160px;
  line-height: 90%;
  margin-top: 10px;
  margin-left: 530px;
}

.card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 60px;
  gap: 10px;
}

.card .about {
  color: #00295B;
  font-family: 'Aeonik TRIAL', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  line-height: 130%;
}

.card p {
  max-width: 320px;
  color: #00295B;
  font-family: 'Aeonik TRIAL', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin-left: 100px;
  margin-right: 10px;
}

.imgColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 70px;
}

.img1 {
  margin-left: 50px;
}

.img2 {
  margin-left: 20px;
  margin-right: 10px;
}

.learn {
  color: #00295B;
  font-size: 19px;
  margin-left: 50px;
  text-transform: capitalize;
}
